@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
* {
  box-sizing: border-box;
}
body {
  padding: 36px 0;
  color: #333;
  background-color: #cfe8ff;
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.header h1 {
    position: relative;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 3px;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .header h1:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-color: #fffbc6;
    transform: translateY(-50%) rotate(-3deg);
    z-index: -1;
  }

  .wrapper {
  flex: 1;
  border: 2px solid;
  border-radius: 12px;
  padding: 12px;
  background-color: #fff;
  box-shadow: 10px 10px 0 #ff9eda;
  transition: all 0.3s;
  padding: 20px;
  margin: 60px;
  text-align: center;
}

.warning {
    text-align: justify;
}

.btn {
    width: 25%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-color: #D984AC;
    border-radius: 6px;
    transition: all 0.3s;
  }

  .btn:hover {
    width: 25%;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 3px 4px black;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-color: #BF7597;
    border-radius: 6px;
    cursor: pointer;
    transform: scale(1.05);
  }

  .btn:active {
    color: white;
  }